<div class="row">
  {{#if tournament.isDraft }}
    {{ggf-tournament.complete-setup}}
  {{else}}
    <div class="col s12">
      {{ggf-tournament.standings matches=tournament.matches teams=tournament.teams standings=tournament.standings}}
    </div>
  {{/if}}
</div>

{{outlet}}