<div class="row">
  {{#if model.tournament.isDraft }}
    {{ggf-tournament.complete-setup tournament=model.tournament}}
  {{else}}
      <div class="col12">
          ...
      </div>
  {{/if}}
</div>