<div class="row">
  <div class="col12">
    <h4>Fixtures</h4>

    {{#if isDraft}}

      {{ggf-tournament.complete-setup tournament=model.tournament}}

    {{else}}

      {{ggf-tournament.matches-list matches=model}}

    {{/if}}

  </div>
</div>