<div class="row">
  <div class="col12">
    <h4>Fixtures</h4>

    <h6>Tournament setup was not completed</h6>

    {{md-btn text='Complete setup'
      class='indigo white-text'
    }}
  </div>
</div>