<div class="row">
  <div class="col12">
    <h4>Fixtures</h4>
  </div>
</div>

{{#if isDraft}}

  {{ggf-tournament.complete-setup}}

{{else}}

  <div class="col12">
    {{ggf-tournament.matches-list matches=model}}
  </div>

{{/if}}