<h4>Matches</h4>

<div class="col m3 s4 left-align">
  {{select-2
    content=rounds
    searchEnabled=false
    value=selectedRound
  }}
</div>
<div class="col offset-m3 m6 s8 right-align">
  {{md-check name="Hide finished matches" checked=hideFinishedMatches}}
</div>

{{#if matchesList}}
  {{#md-table content=matchesList class='striped centered' as |match|}}
    {{#md-table-col row=match key='round' }}
      {{ggf-tournament.match match=match}}
    {{/md-table-col}}
  {{/md-table}}
{{else}}
  <div class="col m12 s12 center-align">
    Matches not found.
  </div>
{{/if}}

