table.bordered {
  text-align: center;
  border-collapse: collapse;

  td {
    padding: 10px;
    border: 1px solid black;
  }
}

table.tablescore {
  td {
    /* team name column */
    &:nth-child(2) {
      width: 150px;
    }

    &:last-child {
      width: 500px;
    }

    width: 20px;
  }
}

.separator {
  margin: 10px 0;
  border-bottom: 1px solid black;
}
