@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext,latin);

$colorGrey: #f6f6f6;
$colorBlack: #2b2b2b;

body {
  background-color: $colorGrey;
  color: $colorBlack;
  font-family: 'Roboto Condensed', sans-serif;
}

.start-page {
  text-align: center;

  .title {
    font-size: 3em;
  }
}

table.bordered {
  text-align: center;
  border-collapse: collapse;

  td {
    padding: 10px;
    border: 1px solid black;
  }
}

table.tablescore {
  td {
    /* team name column */
    &:nth-child(2) {
      width: 150px;
    }

    &:last-child {
      width: 500px;
    }

    width: 20px;
  }
}

.separator {
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.match-result {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  &.match-result-not-started {
    background: #F0F1EE;
  }

  &.match-result-win {
    background: #02C6A3;
  }

  &.match-result-draw {
    background: #FFD464;
  }

  &.match-result-lose {
    background: #FB6964;
  }
}
