{{#md-navbar name='Good Gateway Football' class='indigo'}}
  {{#link-to 'tournaments' tagName='li'}}
    {{link-to 'Tournaments' 'tournament'}}
  {{/link-to}}

  {{#link-to 'leagues' tagName='li'}}
    {{link-to 'Leagues' 'leagues'}}
  {{/link-to}}

  {{ggf-auth-button logout='invalidateSession' login='authenticate'}}
{{/md-navbar}}

<div class="container">
  {{outlet}}
</div>