{{#md-navbar name='Good Gateway Football' class='indigo'}}
  {{#link-to 'tournaments' tagName='li'}}
    {{link-to 'Tournaments' 'tournament'}}
  {{/link-to}}

  {{#link-to 'leagues' tagName='li'}}
    {{link-to 'Leagues' 'leagues'}}
  {{/link-to}}

  {{!-- Fixed markup for this element --}}
  {{ggf-profile action="invalidateSession"}}
{{/md-navbar}}

<div class="container">
  {{outlet}}
</div>