{{textarea class="mdl-textfield__input" type="text" rows="1" maxrows="6" focus-out="focusOutInput"
          focus-in="focusInInput"
          disabled=isDisabled
          id=id value=value}}
<label class="mdl-textfield__label" for="{{id}}">{{label}}</label>