    <div class="mdl-textfield">
        {{input class='mdl-textfield__input' id='team' focus-out="focusOutInput" focus-in="focusInInput" value=value}}
        <label class="mdl-textfield__label" for="team">Team...</label>
    </div>
