{{#each model as |tournament|}}

    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>{{tournament.name}}</h4>
            {{tournament.description}}
        </div>
        <div class="mdl-card__actions">
            {{#link-to 'tournament.tablescore' tournament.id tagName='a' class='mdl-button'}}
                View
            {{/link-to}}
        </div>
    </div>

{{/each}}