{{#link-to 'tournaments.new'}}Add new tournament{{/link-to}}

{{#each model as |tournament|}}

    <div class="mdl-cell mdl-cell--12-col">
        {{#ggf-card title=tournament.name logoPath=tournament.name}}
            <div class="mdl-card__actions mdl-card--border">
                {{#link-to 'tournament.tablescore' tournament class='mdl-button mdl-button--colored'}}
                    View Tournament
                {{/link-to}}
            </div>

            <button class="mdl-button mdl-button--icon ggf-menu-button">
                <i class="material-icons">more_vert</i>
            </button>
        {{/ggf-card}}
    </div>

{{/each}}