<div class="centered">
  <div class="header">
    <strong>Good Gateway Football</strong>
  </div>

  <div class="content">
    {{#link-to 'tournaments' class="circle-links"}}
      Tournaments list
    {{/link-to}}
    <a href="#" class="circle-links">Matches list</a>
  </div>
</div>
