<div class="start-page">
  <header class="start-header">
    <strong>Good Gateway Football</strong>
  </header>

  <main class="start-main">
    {{#link-to 'tournaments' class="start-links"}}
      Tournaments list
    {{/link-to}}
    <a href="#" class="start-links">Matches list</a>
  </main>
</div>
