<div class="start-page">
  <header class="start-header">
    <strong>Good Gateway Football</strong>
  </header>

  <main class="start-main">
    <a href="#" class="start-links">Tournaments list</a>
    <a href="#" class="start-links">Matches list</a>
  </main>
</div>

{{outlet}}
