{{#with model.teams as |teams| }}

  <div class="row">
    {{#each teams as |team|}}
      <div class="col s12 m6 l4">
        {{#md-card
            title=team.name
        }}
          {{#md-card-content}}
            <img src="{{team.logoPath}}"/>
          {{/md-card-content}}

        {{/md-card}}
      </div>
    {{/each}}
  </div>
{{/with}}

{{outlet}}
