<div class="col col-75">
  {{tournament-info tournament=tournament}}
  {{tournament-tablescore matches=matches teams=tournament.teams teamsResults=teamsResults}}
</div>

<div class="col col-25">
  {{ggf-tournament.matches-list matches=matches}}
</div>