{{ggf-tournament.info tournament=tournament}}
<div class="separator"></div>
<h3>Matches</h3>

{{ggf-tournament.matches-list matches=matches}}
<div class="separator"></div>
<h3>Tablescore</h3>
{{ggf-tournament.tablescore matches=matches teams=tournament.teams}}

{{outlet}}
