<div class="centered">
  <div class="header">
    <strong>Good Gateway Football | Tournaments</strong>
  </div>

  <div class="content">
    {{#each model as |tournament|}}
      {{#link-to 'tournament' tournament.id class="circle-links"}}
        {{tournament.name}}
      {{/link-to}}
    {{/each}}
  </div>
</div>