{{#with model as |leagues|}}

    <div class="row">
        <div class="col12">
            <div class="row">
                {{#each leagues as |league|}}
                    <div class="col s12 m6 l4">
                        {{#md-card
                            title=league.name
                            titleClass="orange-text"
                        }}
                            {{#md-card-content}}
                                <img src="{{league.logoPath}}"/>
                            {{/md-card-content}}
                            {{#md-card-action}}
                                {{#link-to 'league' league}}View league{{/link-to}}
                            {{/md-card-action}}

                        {{/md-card}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

{{/with}}