{{#with model.tournament as |settings|}}

    <div class="ggf-settings mdl-cell--12-col">

        <h4>Settings</h4>

        {{ggf-teams.settings name=settings.name description=settings.description submit="saveSettings"}}

    </div>

{{/with}}