<div class="col m12 l6 offset-l3">
    {{#md-card title="Tournament was not started" titleClass="orange-text"}}
        {{#md-card-content}}

        {{/md-card-content}}
        {{#md-card-action}}
            {{#link-to 'tournament.settings' tournament}}Start tournament{{/link-to}}
        {{/md-card-action}}
    {{/md-card}}
</div>