<div class="col col-70">
  {{tournament-info tournament=tournament}}
  {{tournament-tablescore matches=matches teams=tournament.teams teamsResults=teamsResults}}
</div>

<div class="col col-30">
  {{ggf-tournament.matches-list matches=matches}}
</div>