<div class="row">
  <div class="col12">
    <h4>Teams</h4>
    {{#each model.teams as |team|}}

      {{#md-card
        title=team.name
        titleClass="orange-text"
      }}

        {{#md-card-action}}
          {{#link-to 'tournament.team' team}}View team{{/link-to}}
        {{/md-card-action}}

      {{/md-card}}
    {{/each}}
  </div>
</div>

{{#if session.isAuthenticated}}
  <div class="row">
    <div class="col12">
      {{!-- add ggf-teams.add-team component --}}
      {{!-- {{ggf-teams.add-team tournamentId=model.tournamentId submit="addTeam" query="queryOptions"}} --}}
    </div>
  </div>
{{/if}}

{{outlet}}