<h4>Teams</h4>

    <div class="ggf-teams mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            {{#each model as |team|}}
                <div class="logo section__circle-container mdl-cell mdl-cell--2-col">
                    <img src="/teams-logo/{{dasherize-string team.name}}.png" style="height: 48px;" class="team-logo">
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col">
                    <h4>{{team.name}}</h4>

                </div>
            {{/each}}
        </div>
        {{#if session.isAuthenticated}}
        <div class="mdl-card__actions">

            {{ggf-teams.add-team submit="addTeam"}}

        </div>
        {{/if}}
    </div>


{{outlet}}
