<h4>Teams</h4>


<ul>
    {{#each model as |team|}}
        <li>
            <img src="/teams-logo/{{dasherize-string team.name}}.png" class="team-logo"> {{team.name}}
        </li>

    {{/each}}
</ul>

{{#if session.isAuthenticated}}
    {{ggf-teams.add-team submit="addTeam"}}
{{/if}}

{{outlet}}
