<h4>Teams</h4>

    <div class="ggf-teams mdl-cell--12-col">
        <div class="mdl-grid">
            {{#each model as |team|}}
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-card mdl-shadow--2dp demo-card-event">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">{{team.name}}</h2>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            View Team
                        </a>
                    </div>

                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon ggf-menu-button">
                        <i class="material-icons">more_vert</i>
                    </button>
                </div>
            </div>

            {{/each}}
        </div>
        {{#if session.isAuthenticated}}
        <div class="mdl-card__actions">

            {{ggf-teams.add-team submit="addTeam"}}

        </div>
        {{/if}}
    </div>


{{outlet}}
