<h4>Teams</h4>

    <div class="ggf-teams mdl-cell--12-col">
        <div class="mdl-grid">
            {{#each model as |team|}}
            <div class="mdl-cell mdl-cell--4-col">

                {{#ggf-card title=team.name logoPath=team.logoPath}}
                    <div class="mdl-card__actions mdl-card--border">
                        {{#link-to 'tournament.team' team class='mdl-button mdl-button--colored'}}
                            View Team
                        {{/link-to}}
                    </div>

                    <button class="mdl-button mdl-button--icon ggf-menu-button">
                        <i class="material-icons">more_vert</i>
                    </button>
                {{/ggf-card}}
            </div>

            {{/each}}
        </div>
        {{#if session.isAuthenticated}}
        <div class="mdl-card__actions">

            {{ggf-teams.add-team submit="addTeam"}}

        </div>
        {{/if}}
    </div>


{{outlet}}
