<div class="row">

  <div class="col s12">

    {{ggf-tournament.list tournaments=model}}

  </div>

  {{#if session.isAuthenticated }}

    {{#md-fixed-btns
      class="fixed-btns-example"
      btnIcon="mdi-content-add"
      btnClass="btn-large indigo"
      action="createTournament"
      actionArgs="0"}}

    {{/md-fixed-btns}}
  {{/if}}
</div>

