<div class="row">
  {{#each model as |tournament|}}
    <div class="col s12 m6 l4">

      {{ggf-tournament.card tournament=tournament}}

    </div>
  {{/each}}
</div>

{{#if session.isAuthenticated }}

  {{#md-fixed-btns
    class="fixed-btns-example"
    btnIcon="mdi-content-add"
    btnClass="btn-large"
    action="createTournament"
    actionArgs="0"}}

  {{/md-fixed-btns}}
{{/if}}