.card {
  .card-content {
    height: 128px;
    img {
      position: absolute;
      height: 104px;
      right: 2em;
      top: 0.75em;
    }

    & .btn-floating {
      position: absolute;
      z-index: 99;
      top: 8px;
      right: 8px;
    }
  }

  .card-action a {
    margin: 0;
  }


  .search-action {
    text-align: center;
  }

  &.add-team {
    .card-content {
      padding-top: 48px;
    }

    .input-md {
      width: 100%;
    }

    .undo {
      float:right;
    }
  }
}