.ggf-tablescore {
  .tablescore-team {
    position: relative;

    a {
      margin: 0 0 0 2.5em;
    }

    img {
      height: 28px;
      position: absolute;
      left: 0;
      top: -0.25em;
    }
  }
}