
#toast-container {
  display: block;
  position: fixed;
  z-index: 1001;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 30%;
    right: 5%;
    bottom: 7%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    min-width: 30%;
    right: 5%;
    bottom: 7%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    min-width: 8%;
    top: 10%;
    right: 7%;
  }
}

.toast {
  border-radius: 2px;
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #323232;
  padding: 0 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    float: right;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: right;
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}
