<div class="ggf-matches mdl-cell--12-col">

    <h4>Matches</h4>

    <section class="ggf-notification mdl-card mdl-shadow--2dp mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--middle mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Tournament setup was not completed.</h4>

                {{ggf-mdl.button isAccent=true text='Complete Setup'}}
            </div>
        </div>
    </section>

</div>